In [23]:
pip install pandas requests openpyxl

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (2.2.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (2.32.3)
Requirement already satisfied: openpyxl in c:\users\user\anaconda3\lib\site-packages (3.1.5)
Requirement already satisfied: numpy>=1.26.0 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\anaconda3\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests) (2024.8.30)
Requirement already satisfied: et-xmlfile in c:\users\user\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [24]:
import pandas as pd
import sqlite3

# Step 1: Extract - Load data from different file types
csv_url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
json_url = "https://jsonplaceholder.typicode.com/users"

# Load CSV and JSON datasets
df_csv = pd.read_csv(csv_url)
df_json = pd.read_json(json_url)

# Step 2: Transform - Data Cleaning and Merging
# Example transformation: Selecting relevant columns
df_csv_cleaned = df_csv[['PassengerId', 'Name', 'Sex', 'Age', 'Fare']].dropna()
df_json_cleaned = df_json[['id', 'name', 'email']].rename(columns={'name': 'employee_name'})

# Merging datasets for demonstration (Join on mocked column)
df_csv_cleaned['id'] = df_csv_cleaned['PassengerId'] % 10  # Mock 'id' for merging
df_transformed = pd.merge(df_csv_cleaned, df_json_cleaned, on='id', how='inner')

# Step 3: Load - Create and Insert into SQLite Database
conn = sqlite3.connect('data_warehouse.db')
df_transformed.to_sql('transformed_data', conn, if_exists='replace', index=False)

# Verify the data in the data warehouse
print(pd.read_sql('SELECT * FROM transformed_data LIMIT 5', conn))

# Close connection
conn.close()

   PassengerId                                               Name     Sex  \
0            1                            Braund, Mr. Owen Harris    male
1            2  Cumings, Mrs. John Bradley (Florence Briggs Th...  female
2            3                             Heikkinen, Miss. Laina  female
3            4       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female
4            5                           Allen, Mr. William Henry    male

    Age     Fare  id     employee_name                      email
0  22.0   7.2500   1     Leanne Graham          Sincere@april.biz
1  38.0  71.2833   2      Ervin Howell          Shanna@melissa.tv
2  26.0   7.9250   3  Clementine Bauch         Nathan@yesenia.net
3  35.0  53.1000   4  Patricia Lebsack  Julianne.OConner@kory.org
4  35.0   8.0500   5  Chelsey Dietrich   Lucio_Hettinger@annie.ca

In [25]:
pip install kaggle

Requirement already satisfied: kaggle in c:\users\user\anaconda3\lib\site-packages (1.6.17)
Requirement already satisfied: six>=1.10 in c:\users\user\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\user\anaconda3\lib\site-packages (from kaggle) (2024.8.30)
Requirement already satisfied: python-dateutil in c:\users\user\anaconda3\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in c:\users\user\anaconda3\lib\site-packages (from kaggle) (4.66.5)
Requirement already satisfied: python-slugify in c:\users\user\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\user\anaconda3\lib\site-packages (from kaggle) (2.2.3)
Requirement already satisfied: bleach in c:\users\user\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\user\anaconda3\lib\site-packages (from bleach->kaggle) (24.1)
Requirement already satisfied: webencodings in c:\users\user\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\user\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\anaconda3\lib\site-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests->kaggle) (3.7)
Requirement already satisfied: colorama in c:\users\user\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [26]:
import pandas as pd
import sqlite3

# Step 1: Extract - Load data from different file types
# Load CSV dataset (assuming it's saved locally)
csv_path = "https://www.kaggle.com/datasets/halaturkialotaibi/coffee-bean-sales-dataset/data?select=DatasetForCoffeeSales2.csv"  # Update this path to your local file
df_csv = pd.read_csv(csv_path)

# Load JSON dataset from the web
json_url = "https://jsonplaceholder.typicode.com/users"
df_json = pd.read_json(json_url)

# Step 2: Transform - Data Cleaning and Merging
# Example transformation: Selecting relevant columns
# Ensure the column names match your actual dataset
df_csv_cleaned = df_csv[['PassengerId', 'Name', 'Sex', 'Age', 'Fare']].dropna()
df_json_cleaned = df_json[['id', 'name', 'email']].rename(columns={'name': 'employee_name'})

# Mock 'id' for merging (ensure 'PassengerId' exists in your dataset)
df_csv_cleaned['id'] = df_csv_cleaned['PassengerId'] % 10  # Create a mock 'id' column

# Merge datasets on the 'id' column
df_transformed = pd.merge(df_csv_cleaned, df_json_cleaned, on='id', how='inner')

# Step 3: Load - Create and Insert into SQLite Database
conn = sqlite3.connect('data_warehouse.db')
df_transformed.to_sql('transformed_data', conn, if_exists='replace', index=False)

# Verify the data in the data warehouse
print(pd.read_sql('SELECT * FROM transformed_data LIMIT 5', conn))

# Close connection
conn.close()

ParserError: Error tokenizing data. C error: Expected 1 fields in line 9, saw 2

In [ ]:
pip install kaggle

In [28]:
import subprocess
import os
import pandas as pd
import sqlite3
import zipfile

# Step 1: Install Kaggle API
subprocess.run(["pip", "install", "kaggle"])

# Step 2: Set Up Kaggle API Credentials
kaggle_json = '{"username":"assinathmdusengimana","key":"183d4793c71a2e8a44a0b7936c014036"}'

# Create the .kaggle directory
os.makedirs(os.path.expanduser("~/.kaggle"), exist_ok=True)

# Save kaggle.json in the .kaggle directory
with open(os.path.expanduser("~/.kaggle/kaggle.json"), "w") as f:
    f.write(kaggle_json)

# Set file permissions
os.chmod(os.path.expanduser("~/.kaggle/kaggle.json"), 0o600)

In [30]:
# Step 3: Download the dataset from Kaggle
subprocess.run(["kaggle", "datasets", "download", "-d", "halaturkialotaibi/coffee-bean-sales-dataset"])

# Step 4: Extract the dataset
with zipfile.ZipFile("coffee-bean-sales-dataset.zip", "r") as zip_ref:
    zip_ref.extractall("coffee-bean-sales-dataset")

In [38]:
import pandas as pd
import sqlite3

# Load the extracted CSV dataset
csv_path = "coffee-bean-sales-dataset/DatasetForCoffeeSales2.csv"
df_csv = pd.read_csv(csv_path)

# Display the first few rows of the CSV dataset
print("CSV Data:")
print(df_csv.head())

# Load JSON dataset from the web
json_url = "https://jsonplaceholder.typicode.com/users"
df_json = pd.read_json(json_url)

# Display the first few rows of the JSON dataset
print("JSON Data:")
print(df_json.head())

# Transform - Data Cleaning and Merging
# Select relevant columns from the CSV data
df_csv_cleaned = df_csv[['Customer_ID', 'City', 'Product', 'Quantity', 'Final Sales']].dropna()

# Select relevant columns from the JSON data and rename for clarity
df_json_cleaned = df_json[['id', 'name', 'email']].rename(columns={'name': 'customer_name'})

# Mock 'id' for merging (ensure 'Customer_ID' exists in your dataset)
df_csv_cleaned['id'] = df_csv_cleaned['Customer_ID'] % 10  # Create a mock 'id' column

# Merge datasets on the 'id' column
df_transformed = pd.merge(df_csv_cleaned, df_json_cleaned, on='id', how='inner')

# Display the transformed data
print("Transformed Data:")
print(df_transformed.head())

# Load - Create and Insert into SQLite Database
conn = sqlite3.connect('data_warehouse.db')
df_transformed.to_sql('transformed_data', conn, if_exists='replace', index=False)

# Verify the data in the data warehouse
print("Data in SQLite:")
print(pd.read_sql('SELECT * FROM transformed_data LIMIT 5', conn))

# Close connection
conn.close()

CSV Data:
       Date  Customer_ID    City      Category     Product  Unit Price  \
0  1/1/2023           32  Riyadh  coffee beans   Colombian          40
1  1/2/2023           49    Abha  coffee beans  Costa Rica          35
2  1/3/2023           75   Tabuk  coffee beans  Costa Rica          35
3  1/4/2023           80    Abha  coffee beans   Ethiopian          45
4  1/5/2023           78    Hail  coffee beans   Colombian          40

   Quantity  Sales Amount  Used_Discount  Discount_Amount  Final Sales
0        14           560          False                0          560
1        17           595          False                0          595
2        19           665          False                0          665
3         1            45          False                0           45
4        46          1840           True              368         1472
JSON Data:
   id              name   username                      email  \
0   1     Leanne Graham       Bret          Sincere@april.biz
1   2      Ervin Howell  Antonette          Shanna@melissa.tv
2   3  Clementine Bauch   Samantha         Nathan@yesenia.net
3   4  Patricia Lebsack   Karianne  Julianne.OConner@kory.org
4   5  Chelsey Dietrich     Kamren   Lucio_Hettinger@annie.ca

                                             address                  phone  \
0  {'street': 'Kulas Light', 'suite': 'Apt. 556',...  1-770-736-8031 x56442
1  {'street': 'Victor Plains', 'suite': 'Suite 87...    010-692-6593 x09125
2  {'street': 'Douglas Extension', 'suite': 'Suit...         1-463-123-4447
3  {'street': 'Hoeger Mall', 'suite': 'Apt. 692',...      493-170-9623 x156
4  {'street': 'Skiles Walks', 'suite': 'Suite 351...          (254)954-1289

         website                                            company
0  hildegard.org  {'name': 'Romaguera-Crona', 'catchPhrase': 'Mu...
1  anastasia.net  {'name': 'Deckow-Crist', 'catchPhrase': 'Proac...
2    ramiro.info  {'name': 'Romaguera-Jacobson', 'catchPhrase': ...
3       kale.biz  {'name': 'Robel-Corkery', 'catchPhrase': 'Mult...
4   demarco.info  {'name': 'Keebler LLC', 'catchPhrase': 'User-c...
Transformed Data:
   Customer_ID    City     Product  Quantity  Final Sales  id  \
0           32  Riyadh   Colombian        14          560   2
1           49    Abha  Costa Rica        17          595   9
2           75   Tabuk  Costa Rica        19          665   5
3           78    Hail   Colombian        46         1472   8
4            1  Khobar   Colombian        32         1024   1

              customer_name                     email
0              Ervin Howell         Shanna@melissa.tv
1           Glenna Reichert   Chaim_McDermott@dana.io
2          Chelsey Dietrich  Lucio_Hettinger@annie.ca
3  Nicholas Runolfsdottir V      Sherwood@rosamond.me
4             Leanne Graham         Sincere@april.biz
Data in SQLite:
   Customer_ID    City     Product  Quantity  Final Sales  id  \
0           32  Riyadh   Colombian        14          560   2
1           49    Abha  Costa Rica        17          595   9
2           75   Tabuk  Costa Rica        19          665   5
3           78    Hail   Colombian        46         1472   8
4            1  Khobar   Colombian        32         1024   1

              customer_name                     email
0              Ervin Howell         Shanna@melissa.tv
1           Glenna Reichert   Chaim_McDermott@dana.io
2          Chelsey Dietrich  Lucio_Hettinger@annie.ca
3  Nicholas Runolfsdottir V      Sherwood@rosamond.me
4             Leanne Graham         Sincere@april.biz

In [34]:
import pandas as pd

# Load CSV dataset directly from Kaggle URL
csv_url = "https://www.kaggle.com/datasets/halaturkialotaibi/coffee-bean-sales-dataset/data?select=DatasetForCoffeeSales2.csv"
df_csv = pd.read_csv(csv_url)

# Print the column names to verify
print("Column Names in CSV Data:")
print(df_csv.columns)

# Load JSON dataset from the web
json_url = "https://jsonplaceholder.typicode.com/users"
df_json = pd.read_json(json_url)

# Print the column names to verify
print("Column Names in JSON Data:")
print(df_json.columns)

# Verify the first few rows of the data
print("First few rows of CSV Data:")
print(df_csv.head())

print("First few rows of JSON Data:")
print(df_json.head())

ParserError: Error tokenizing data. C error: Expected 1 fields in line 9, saw 2